<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manufacturer</title>
</head>
<body>

    <!--/*@thymesVar manufacturer="manufacturer" type="ua.com.drabchak.demo.model.Manufacturer"*/-->
    <p th:text="|${manufacturer.id}, ${manufacturer.companyName}, ${manufacturer.state}|">VALUE</p>
    <br/>
    <hr/>
    <div th:if="${not #lists.isEmpty(manufacturerSouvenirs)}">
        <div th:each="souvenir : ${manufacturerSouvenirs}">
            <p th:text="|${souvenir.souvenirName}, ${souvenir.price}, ${souvenir.date}|">VALUE</p>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(manufacturerSouvenirs)}">
        This manufacturer doesn't have any souvenirs
    </div>
    <br/>
    <hr/>
    <a th:href="@{/manufacturers}">Manufacturer list</a>
    <br/>
    <a th:href="@{/}">Go to starting page</a>
</body>
</html>