<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="manufacturersWithSouvenirs" type="java.util.Map<ua.com.drabchak.demo.model.Manufacturer, java.util.List<ua.com.drabchak.demo.model.Souvenir>>"*/-->

<div th:if="${not #maps.isEmpty(manufacturersWithSouvenirs)}">
  <table border="2px solid">
    <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Souvenirs</th>
    </tr>
    </thead>
    <tbody th:each="entry : ${manufacturersWithSouvenirs}">
    <tr>
      <td th:text="|${entry.key.id}, ${entry.key.companyName}, ${entry.key.state}|"/>
      <td>
        <table>
          <tr th:each="value : ${entry.value}">
            <td th:text="|${value.id}, ${value.souvenirName}, ${value.date}, ${value.price}|"></td>
          </tr>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${#maps.isEmpty(manufacturersWithSouvenirs)}">
  There is no records
</div>
<br/>
<hr/>
<a th:href="@{/utils}">Go to action list</a>
<br/>
<a th:href="@{/}">Go to starting page</a>
</body>
</html>